@import "../App/App.scss";

.input-add-task {
  margin-top: 20px;
}

.completed {
  text-decoration: line-through;
}

h3 {
  text-decoration: underline;
}

form {
  div {
    input {
      width: 250px;
      height: 50px;
    }

    button {
      background-color: $tertiary-color;
      color: black;
      font-weight: 700;
      width: 100px;
      height: 50px;
      border-radius: 5px;
      margin-top: 10px;
      font-weight: 700;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.tasks-component-container {
  background-color: $secondary-color;
  width: 80%;
  margin: auto;
  margin-top: 2.5%;
  padding: 1%;
  border-radius: 5px;

  ul {
    list-style-position: inside;

    li {
      background-color: white;
      border: 2px solid $tertiary-color;
      border-radius: 5px;
      padding: 2.5%;
      margin: 2.5%;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      font-weight: 700;

      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      input:hover {
        cursor: pointer;
      }

      span {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        border-radius: 5px;
        font-weight: 700;

        &:hover {
          cursor: pointer;
          color: red;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
