@import "../App/App.scss";

.pause-play-button,
.restart-button,
.start-button {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

.timer-container {
  background-color: $tertiary-color;
}

.options-buttons-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.options-buttons {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  font-weight: 700;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
}

.action-buttons-container {
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  div {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 992px) {
    width: 70%;
    margin-bottom: 5%;
  }

  @media screen and (max-width: 600px) {
    width: 80%;
    margin-bottom: 5%;
  }

  @media screen and (max-width: 320px) {
    width: 90%;
  }
}

h2 {
  margin: 0 auto;
  padding: 2.5%;
  font-size: 80px;

  div {
    background-color: white;
    width: 25%;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 1100px) {
      width: 35%;
      margin-bottom: 5%;
    }

    @media screen and (max-width: 992px) {
      width: 60%;
      margin-bottom: 5%;
    }

    @media screen and (max-width: 600px) {
      width: 80%;
      margin-bottom: 5%;
    }

    @media screen and (max-width: 320px) {
      width: 90%;
      margin-bottom: 5%;
    }
  }
}

h4 {
  padding-top: 5%;
  padding-bottom: 5%;
}
