$primary-color: #46494c;
$secondary-color: #dcdcdd;
$tertiary-color: #9ecc6e;

* {
  color: $primary-color;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.root-div {
  padding-bottom: 2.5%;
  text-align: center;

  input {
    border: 2px solid $tertiary-color;
    border-radius: 5px;
    padding-left: 1%;
    font-size: 18px;
  }
}
